<footer class="site-footer">
  <div class="wrap footer-wrap">
    <h2 class="footer-heading">Tony Tang</h2>
    <div class="column footer-column-1">
      <p>Senior Java Engineer</p>
      <a href="mailto:ling.java@gmail.com">ling.java@gmail.com</a>
    </div>

    <div class="column footer-column-2">
      <p>
        <i class="fa fa-github fa-lg"></i>
        <a href="http://github.com/jsuper" target="_blank">jsuper</a>
      </p>
      <p>
        <i class="fa fa-weibo fa-lg"></i>
        <a href="http://weibo.com/u/2041600541" target="_blank">我去年买了个秤砣</a>
      </p>
    </div>

    <div class="column footer-column-3">
      <p>Any additional text you want to have here is totally cool for you to haz, yo.</p>
    </div>
  </div>
</footer>