<header class="site-header">
  <div class="header-top">
    <span class="header-bg header-bg-1"></span>
    <span class="header-bg header-bg-2"></span>
    <span class="header-bg header-bg-3"></span>
    <span class="header-bg header-bg-3"></span>
    <span class="header-bg header-bg-4"></span>
    <span class="header-bg header-bg-5"></span>
    <span class="header-bg header-bg-6"></span>
    <span class="header-bg header-bg-7"></span>
  </div>
  <div class="wrap site-nav-wrap">
    <a href="/" class="site-title">Tony Talk</a>
    <nav class="site-nav">
      <i class="fa fa-align-justify fa-large menu-icon"></i>
      <div class="nav-link">
        <a class="site-menu" href="/about/index.html">About</a>
        <a class="site-menu" href="/projects/index.html">Projects</a>
      </div>
    </nav>
  </div>
</header>